
@{
    ViewBag.Title = "WelcomeScreen";
}


<body style="background-image: url(../../Images/SMSbg.svg); background-position-x: right; overflow:clip; background-position-y: bottom; background-attachment: fixed; background-repeat: no-repeat;">

    <div class="">
        <br />
        <h2 style="font-family:'Times New Roman'">Welcome to SMS</h2>
        <h4 class="lead" style="font-family:'Times New Roman'">SMS is a Student Managment System. <br /> That allow an institution to manage thier student data conveniently.</h4>
    </div>

    <br />
    <br />
    <br />

    <div>
        <h3 style="color:darkslateblue">
            <b>
                Hello @Session["AdminName"] ..! Welcome to SMS.
            </b>
        </h3>
    </div>


</body>


