<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


	<targets>
		<target name="logFile"
				xsi:type="File"
				archiveFileName="C:\Users\aryan.gupta\source\repos\SMSystem\SMSystem\Log\SMSlogFile.{#}.log"
				fileName ="C:\Users\aryan.gupta\source\repos\SMSystem\SMSystem\Log\SMSlogFile.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="ddMMyyyy" />
	</targets>

	<rules>
		<logger levels="Error,Warn,Info,Fatal" name="*" writeTo="logFile"/>
	</rules>
</nlog>
