
@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Welcome to SMS</h1>
    <p class="lead">SMS is a Student Managment System that allow an institution to manage thier student data conveniently.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        
    </div>
</div>
