
@{
    ViewBag.Title = "LoginError";
}


<body style="background-image: url(../../Images/SMSbg.svg); background-position-x: right; overflow:clip; background-position-y: bottom; background-attachment: fixed; background-repeat: no-repeat;">

    <div class="">
        <br />
        <h2 style="font-family:'Times New Roman'">Welcome to SMS</h2>
        <h4 class="lead" style="font-family:'Times New Roman'">SMS is a Student Managment System. <br /> That allow an institution to manage thier student data conveniently.</h4>
    </div>

    <div class="row" style="display: flex; justify-content: space-around; flex-direction: column-reverse;">


        <div class="" style="margin:10px; padding:10px;">
            <br />
            <h3 style="font-family:'Times New Roman'">
                New User
            </h3>
            <h4 style="font-family:'Times New Roman'">
                @Html.ActionLink("Registration", "AdminRegistration", "Admin")
            </h4>
        </div>


        <div class="" style="margin:10px; padding:10px;">
            <br />
            <h3 style="font-family:'Times New Roman'">
                Returning User
            </h3>
            <h4 style="font-family:'Times New Roman'">
                @Html.ActionLink("Login", "AdminLogin", "Admin")
            </h4>
        </div>

        <div>
            <h3 style="margin:10px; color: red; padding:10px">
                Please LOGIN to access the SMS portal.
            </h3>
        </div>


    </div>

</body>




