
@{
    ViewBag.Title = "WelcomeScreen";
}


<div class="jumbotron">
    <h1>Welcome to SMS</h1>
    <p class="lead">SMS is a Student Managment System that allow an institution to manage thier student data conveniently.</p>

</div>

<div>
    <h4>
        Hello @Session["AdminName"] ..! Welcome to SMS.
    </h4>
</div>

<div class="row">
    <div class="col-md-4" style="align-self:center">
        <h2>
        </h2>
        <p>            
        </p>

    </div>
    <div class="col-md-4">
        <h2>
        </h2>
        <p>
        </p>

    </div>
    <div class="col-md-4">
        <h2>
        </h2>
        <p>
        </p>
    </div>
</div>

